html{
  font-family: 'great_vibesregular',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
  background: rgb(234,206,180);
  background: linear-gradient(180deg, rgba(234,206,180,1) 0%, rgba(234,206,180,1) 45%, rgba(231,158,133,1) 78%, rgba(189,114,114,1) 100%);
  overflow-x: hidden;
  min-height: 500vh;
  max-width: 100vw;
}

.gallery{
  background-color: #FFF6E5;
  min-height: 40vw;
  flex: 0 0 100%;
	max-width: 100%;
}

#map{
  height: 20vh;
  width: 100vw;
}

.sub-title{
  font-size: 5rem;
  font-family: 'great_vibesregular',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

@media only screen and (max-width: 576px){
  .sub-title{
    font-size: 2.5rem!important;
  }
  .main-title{
    font-size: 2.5rem;
  }
  .wishes{
    font-size: 2rem!important;
  }
}

/* POLAROID CSS */
* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  max-width: 40vw;
  animation-duration: 5s;
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
  font-family: 'great_vibesregular',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.caption-main{
  font-size: 2.8rem;
  text-align: center;
  line-height: 2em;
  font-family: 'great_vibesregular',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.item {
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

@media only screen and (max-width: 576px){
  .caption{
    font-size: medium;
  }
  .polaroid{
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    max-width: none;
  }
}

/* ENVELOPE CSS */

.mail{
  max-width: 100%;
}

.envelope{
  background-color: #fcfcf8;
  width: 65vw;
  height: fit-content;
  border-radius: 20px;
}

/* COUNTDOWN CSS */

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.message {
  font-size: 4rem;
}

#content {
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
}

@media only screen and (max-width: 576px){
  .envelope{
    background-color: #fcfcf8;
    width: 90vw;
    height: fit-content;
    border-radius: 20px;
  }
  
  li {
    font-size: 1rem;
  }
  
  li span {
    font-size: 2rem;
  }

  ul.countdown{
    padding: 0!important;
  }
  .name{
    font-size: 3rem!important;
  }
}